<form action="/update" method="POST">
{{#each posts}}
 <p>Código: </p>
 <input type="text" name="id" value="{{id}}" readonly="true">
 <p>Titulo: </p>
 <input type="text" name="titulo" value="{{titulo}}">
 <p>Conteúdo:</p>
 <textarea name="conteudo">{{conteudo}}</textarea><br>
 <input type="submit" value="Alterar">
 <hr>
{{/each}}
</form>